.separator {
  background: currentColor;
  height: var(--t-spacing-4);
  margin: 0;
  width: 1px;

  &[data-size='small'] {
    height: var(--t-spacing-2);
  }

  &[data-accent='brand'][data-variant='primary']:not([data-inverted]) {
    background: var(--t-brand-on-solid-muted);
  }

  &[data-accent='danger'] {
    background: var(--t-border-color-danger);
  }
}

.shortcutLabel {
  color: inherit;
  font-weight: var(--t-font-weight-medium);

  &[data-accent='brand'][data-variant='primary']:not([data-inverted]) {
    color: var(--t-brand-on-solid-muted);
  }

  &[data-accent='danger'] {
    color: var(--t-color-red8);
  }

  &[data-accent='danger'][data-variant='primary'] {
    color: var(--t-border-color-danger);
  }
}
